{% extends "base.html" %}

{% block content %}

<h2>All Human Intelligence Tasks [HITs]</h2>
<table class="table table-striped table-hover table-condensed">
  <tr>
  	<th>Title</th>
  	<th>HIT ID</th>
    <th>Worker ID</th>
    <th>Bounty</th>
    <th class="text-center">Status</th>
    <th>Details</th>
  </tr>
  {% for hit in hits %}
    <tr>
    	<td><a href='{{hit.url}}'>{{hit.title}}</a></td>
    	<td>{{hit.hit_id}}</td>
      {% if hit.worker_id %}
      	<td>{{hit.worker_id}}</td>
      {% else %}
        <td>N/A</td>
      {% endif %}
      <td>${{ hit.bounty }}</td>
      <td {% if hit.status == 'reviewable' %}class="warning text-center"{% endif %} {% if hit.status == 'approved' %}class="success text-center"{% endif %} {% if hit.status == 'rejected' %}class="danger text-center"{% endif %}{% if hit.status == 'open' %}class="text-center"{% endif %} >{{hit.status.upper()}}</td>
      <td><a class="btn btn-default" href="/hits/{{hit.id}}">view</a></td>
    </tr>	
  {% endfor %}
</table> 

{% endblock %}