<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Mechanical Turk</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/jquery.tablesorter.js"></script> 

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&libraries=places">
    </script>
        
    <script type="text/javascript" src="/static/jquery.timepicker.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/static/jquery.timepicker.min.css">

    <script type="text/javascript" src="/static/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css">

    
    <div class="container">
      <div class="page-header clearfix">
        <img src="/static/TasslLogo2015.png" class="pull-left" alt="Tassl 2015 Logo" width="300">
        <h3 class="pull-right text-right"><small>
          <b>Mechanical Turk Portal</b></br>
          {% if current_user.is_authenticated %}
            <a href="{{url_for('all_hits')}}">Dashboard</a> | <a href="{{url_for('createHIT')}}">Create</a> | <a href="{{ url_for('signout') }}">Sign Out</a> 
            </br>
            Current Account Balance: {{ acct_bal }}
          {% else %}
            Please sign in to access features of this site.
          {% endif %}
        </small></h3>
        <!--if signed in, display links for all_hits, create_hit, sign-out-->
      </div>
    </div>



  </head>

  <body>
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <b>
            {% for message in messages %}
                <p><font color="red">{{ message }}</font></p>
            {% endfor %}
            </b>
          {% endif %}
        {% endwith %}
      </div>
      <div class="col-md-1"></div>
    </div>

        {% block content %}
        {% endblock %}



  </br></br></br></br></br></br>

  </body>



</html>



