{% extends "base.html" %}

{% block content %}

<div class="col-md-1"></div>
<div class="col-md-10">

  <h2>Create a new Human Intelligence Task (HIT)</h2>


  <form action="/hits/create" method="POST" name="">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="title">Enter a descriptive title for this task:</label>
        {{ form.title(size=100, class="form-control", placeholder="e.g. UCLA Physics Alumni Fall Events") }}
      </div>
      
      <div class="form-group">
        <label for="bounty">Enter the bounty for this task:</label>
        {{ form.bounty(size=6, class="form-control", placeholder="e.g. 4.50") }}
      </div>

      <div class="form-group">
        <label for="deadline">Enter the integer number of days a worker has to complete this task:</label>
        {{ form.deadline(size=6, class="form-control", placeholder="e.g. 7 (for one week)") }}
      </div>

      <div class="form-group">
        <label for="school">Enter the school affiliated with this task:</label>
        {{ form.school(class="form-control", placeholder="e.g. Penn State") }}
      </div>

      <div class="form-group">
        <label for="url">Enter the URL at which the information for the task can be found:</label>
        {{ form.url(size=100, class="form-control", placeholder="e.g. http://www.fbschedules.com/ncaa-16/2016-ucla-bruins-football-schedule.php") }}
      </div>

      <div class="form-group">
        <label for="instructions">Enter instructions for this task. This will be directed directly at the workers, so specificity is important.</label>
        {{ form.instructions(rows=5,cols=100, class="form-control", placeholder="e.g. This is a data entry task. For each event in the provided link, please enter all information that applies, and leave fields blank where information is inapplicable or not available.") }}
      </div>

      <div class="form-group">
        <label for="keywords">Enter a comma-delimited list of keywords for this task. This is a list of words that Workers will use to find your HITs.</label>
        {{ form.keywords(rows=1,cols=50, class="form-control", placeholder="e.g. alumni, Tassl, data collection, college football") }}
      </div>      

      <input type="submit" class="btn btn-info" value="Submit">
  </form>

</div>
<div class="col-md-1"></div>



{% endblock %}
