

<div id="form">
  {{ form.hidden_tag() }}

    <div class="form-group">
      <label for="event_name">Event name:</label>
      {{ form.event_name(size=20, class="form-control", placeholder="Career Fair") }}
    </div> 

    <div class="form-group">
      <label for="host_name">Host for this event:</label>
      {{ form.host_name(size=20, class="form-control", placeholder="e.g. UCLA Physics Dept.") }}
    </div>

    <div class="form-group">
      <label for="event_type">Event Type:</label>
      {{ form.event_type }}
    </div>

    <div class="form-group">
      <label for="on_campus">Is this an on-campus event?</label>
      {{ form.on_campus }}
    </div>

    <div class="form-group">
      <label for="virtual">Is this a virtual event?</label>
      {{ form.virtual }}
    </div>

    <div class="form-group">
      <label for="location">Event Location:</label>
      {{ form.location(size=20, class="form-control", placeholder="e.g. 257 Old Newell Rd. Palo Alto, CA 94301") }}
    </div>
    
    <div class="form-group">
      <label for="description">Event Description:</label>
      {{ form.description(rows=5,cols=20, class="form-control", placeholder="e.g. This is a career faire for science/engineering majors graduating in the fall.") }}
    </div>

    <div class="form-group">
      <label for="start_date">Event start date:</label>
      {{ form.start_date(size=20, class="form-control", placeholder="e.g. 11/27/2016") }}
    </div>

    <div class="form-group">
      <label for="end_date">Event end date:</label>
      {{ form.end_date(size=20, class="form-control", placeholder="e.g. 11/27/2016") }}
    </div>

    <div class="form-group">
      <label for="virtual">Is this an all-day event?</label>
      {{ form.all_day }}
    </div>

    <div class="form-group">
      <label for="start_time">Event start time:</label>
      {{ form.start_time(size=20, class="form-control", placeholder="e.g. 11:00 AM") }}
    </div>

    <div class="form-group">
      <label for="end_time">Event end time:</label>
      {{ form.end_time(size=20, class="form-control", placeholder="e.g. 4:00 PM") }}
    </div>

    <div class="form-group">
      <label for="time_zone">Event time zone:</label>
      {{ form.time_zone }}
    </div>

    <div class="form-group">
      <label for="general_pricing">General Pricing (if applicable):</label>
      {{ form.general_pricing(size=10, class="form-control", placeholder="e.g. \"free, $5.00, etc...\" ") }}
    </div>

    <div class="form-group">
      <label for="member_pricing">Member Pricing (if applicable):</label>
      {{ form.member_pricing(size=10, class="form-control", placeholder="e.g. $5.00") }}
    </div>

    <div class="form-group">
      <label for="non_member_pricing">Non-member Pricing (if applicable):</label>
      {{ form.non_member_pricing(size=10, class="form-control", placeholder="e.g. $10.00") }}
    </div>

    <div class="form-group">
      <label for="registration_req">Event registration required?</label>
      {{ form.registration_req }}
    </div>

    <div class="form-group">
      <label for="registration_url">Event registration URL:</label>
      {{ form.registration_url(size=50, class="form-control", placeholder="e.g. https://alumni.ucla.edu/event/bruin-professionals-long-beach-chapter-monthly-meeting/ ") }}
    </div>

    <div class="form-group">
      <label for="event_page_url">Event page URL:</label>
      {{ form.event_page_url(size=50, class="form-control", placeholder="https://alumni.ucla.edu/event/bruin-professionals-long-beach-chapter-monthly-meeting/ ") }}
    </div>

</div>

</br></br>
