<!DOCTYPE html>
<html lang="en">

  <head>

    <title>Mechanical Turk</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&libraries=places">
    </script>    

    <script type="text/javascript" src="/static/jquery.timepicker.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/static/jquery.timepicker.min.css">

    <script type="text/javascript" src="/static/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css">

    <script type="text/javascript" src="/static/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="/static/chosen.proto.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/chosen.min.css">

  </head>

  <body>
    <div class="row"></div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <h3>Greetings and salutations, Turk!</h3>
          <ul>
            <li> Firstly, open the following link in a new tab or browser window: <a href="{{hit.url}}">{{hit.url}}</a> </li>
            <li> For each event listed on that page, please copy down the event information into the form below. </li>
            <li> Fill in as much information as possible.  If information is unavailable or inapplicable, leave the field blank. </li>
            <li> When done with the event, you can press the "Log Event" button at the bottom of the form. </li>
            <li> When done with ALL events, you can press the "Submit Task" button at the bottom of the right column to submit your completed task to Mechanical Turk. The list on the right should contain all of your entered events, and the form on your left should be blank.</li>
            <li> <b>Be careful not to</b> confuse the <span class="bg-info">"Log Event"</span> button with the <span class="bg-danger">"Submit Task"</span> button, or you might accidentally submit an incomplete task!</li>
            {% if hit.instructions %}
            <li> {{ hit.instructions }}</li>
            {% endif %}
          </ul>
      </div>
      <div class="col-md-1"></div>
    </div>



    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5 event-form-col">
        <!--here begins stuff -->
        <h4 id="eventNumber" class="bg-primary">Event Form </h4>


        <form action="{{ external_submit_url }}" method="post" name="">
          {% include "event_form.html" %}
          <input type="hidden" id="assignmentId" value="{{ assignment_id }}" name="assignmentId"/>
          <input type="hidden" id="workerId" value="{{ worker_id }}" name="workerId"/>
          <input type="hidden" id="hitId" value="{{ hit_id }}" name="hitId"/>
          <input type="hidden" id="eventHit" value="{{ id }}" name="eventHit"/>

          {% if worker_id %}
            <button id="submitEvent" class="btn btn-info" value="Log Event">Log Event</button>
            </br></br></br>
            <input id="submitTask" type="submit" class="btn btn-danger" value="Submit Task">
          {% else %}
            <p>You must accept this task through Amazon's Mechanical Turk site to submit work.</p>
          {% endif %}
         
         
          </br></br>
          <button id="submitEvent" class="btn btn-info" value="Log Event">Log Event</button>
          </br></br></br>
          <input id="submitTask" type="submit" class="btn btn-danger" value="Submit Task">
          

        </form>


      </div>


      <div class="col-md-5 event-log-col">
        <h4 id="eventLog" class="bg-primary">0 Logged Event(s): </h4>
        <div id="logged-events">
          <table id="eventsTable" class="table table-striped table-hover table-condensed">
            <tr>
              <th>#</th>
              <th>Event Title:</th>
              <th>Start Date:</th>
            </tr>
          </table>
        </div>
        </br></br></br>
      </div>

      <div class="col-md-1"></div>    

    </div>
  </div>
  </br></br></br></br></br></br>




  <script>

    var numEvents = 0; //need to initialize an indexing variable here
    var events = []; //our events array, to be sent to Amazon in the end

    $(document).ready(function() {
      
      
      $("#submitEvent").click(function(e) {
          e.preventDefault(); 
          console.log('LOG EVENT button clicked'); //sanity test
          numEvents +=1; // on presses of the submit button, need to increment variable
          var values = {}; //clear out event info from last submit
          //take result from server and change id to current event index ==> form-#
          var newFormId = "form-"+numEvents.toString();
          var oldFormId = "form-"+ (numEvents - 1).toString();
          //create json object out of old-form (need to add event's associated HIT id, too)
          $.each($('#'+oldFormId).find(':input').add('#eventHit').serializeArray(), function(i, field) { 
            values[field.name] = field.value;
            console.log(field.name +' = '+ field.value);
          });
          //put into all-events array
          events.push(values); 
          
          /*
          //sanity test stuff
          console.log('all logged events:'); 
          console.log(events); 
          console.log('num events: ' + numEvents);
          console.log('most recently logged event:');
          console.log(values);
          */

          //POST event info to our server
          $.ajax({ 
            url: '/logevent',
            type: 'POST',
            data: JSON.stringify(values), //don't know why it's needed, but it's needed to avoid http400
            contentType: 'application/json; charset=UTF-8', //tell recipient what kind of data to expect
            success: function(result) { 
                console.log('POST request sent'); //another sanity test
                //form html for right column after event is logged
                mostRecentEvent = "<tr><td>"+numEvents.toString()+"</td>" + "<td>"+ values['event_name']+"</td><td>" + values['start_date']+"</td></tr>" 
                //append html to right column
                $('#eventsTable tr:last').after(mostRecentEvent)
                
                //sanity tests
                console.log("new form id: " + newFormId)
                console.log("old form id: " + oldFormId)

                result = $(result).filter('#form-0').attr("id", newFormId);
                // reset all data in the new form
                $(result).find('input:text, input:password, input:file, select, textarea').val(''); 
                $(result).find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected'); 

                //remove locationField id from old form, so it's renewed on the new form
                $('div#'+oldFormId).find('#locationField').removeAttr('id');
                $('div#'+oldFormId).find('#google_location_id').removeAttr('id');
                //hide old form
                $('div#'+oldFormId).hide();
                //prepend new form
                $('div#'+oldFormId).before(result)
            } 
          });

          /*
          //reset forms and alter column headers
          //reset all entered text
          //then reset all radio buttons and drop-down selects
          $("#form").find('input:text, input:password, input:file, select, textarea').val(''); 
          $("#form").find('input:radio, input:checkbox').removeAttr('checked').removeAttr('selected'); 
          */

          $('html, body').animate({ scrollTop: 0 }, 'fast'); //jump to top of page
          $("#eventNumber").text("Event Form #" + (numEvents+1)); //increment form header
          $("#eventLog").text(numEvents + " Logged Event(s):"); //increment log header
      }); //end submit event



      $("#submitTask").click(function(e) {
        e.preventDefault();
        // submit to our server 
        $.ajax({
            url: '/consignment/{{id}}',
            type: 'POST',
            data: '',
            success: function(result) {
              console.log('First, the data is posted to OUR server.'); 
              console.log(events);

              $('form').submit();// submit to mechanical turk via the external_submit_url on the html template.  Only the last event is sent.
              //console.log('Then, the data is posted to AWS server.');
            }
        });
      });
    });

  </script>



  </body>

</html>



