{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h2><a href="{{ hit.url }}">{{ hit.title }}</a></h2>
    <h4>School: {{ school}} </h4>
    <h4>AWS HIT ID: {{hit.hit_id}}</h4>
    <h4>Created: {{ hit.created_at | days_ago }} day(s) ago</h4>
    <h4>Worker ID: {% if hit.worker_id %}{{hit.worker_id}}{% else %}N/A{% endif %}</h4>
    <h4>Bounty: ${{ hit.bounty }}</h4>
    <h4>Days to Complete: {{ hit.deadline }}</h4>
    <h4>Keywords: {{ hit.keywords }}</h4>
    <h4
      {% if hit.status == 'in progress' %}class="text-warning"{% endif %} 
      {% if hit.status == 'reviewable' %}class="text-warning"{% endif %} 
      {% if hit.status == 'approved' %}class="text-success"{% endif %} 
      {% if hit.status == 'rejected' %}class="text-danger"{% endif %}
      {% if hit.status == 'open' %}class="text-primary"{% endif %}>
      Status: {{ hit.status.upper() }}
    </h4></br>

    <p><b>INSTRUCTIONS GIVEN:</b></br>"{{ hit.instructions }}"</p>
    </br></br>


    {% if hit.events.all() %}
    <h4 class="text-info">Turk Input:</h4>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for event in events %}
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading{{event.id}}">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{event.id}}" aria-expanded="false" aria-controls="collapse{{event.id}}">EVENT: {{ event.event_name }}</a>
              </h4>
            </div>
            <div id="collapse{{event.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{event.id}}">
              <div class="panel-body">
                <table class="table table-hover table-striped table-condensed">
                  <tr>
                    <td>school</td>
                    <td class="text-right">{{ event.hit.school }}</td>
                  </tr>
                  {% for col in event.columns()[:-1] %} 
                    <tr>
                      <td>{{ col }}</td>
                      <td class="text-right">{{ event[col] }}</td>
                    </tr>
                  {% endfor %} 
                </table> 
                </br>
                <a class="btn btn-default btn-warning pull-right" href="/event/edit/{{event.id}}" role="button">Edit this Event</a>
                </br></br>
              </div>
            </div>
          </div>  
        {% endfor %}
    </div>
    {% else %}
      <h4>A worker has not yet completed this assignment.</h4>
    {% endif %}

    </br></br>

    {% if hit.status == 'reviewable' %}
          <form action="" method="" name="">
              {{ form.hidden_tag() }}
              <div class="form-group">
                <label for="feedback">Enter feedback for this task [optional]:</label></br>
                {{ form.feedback(size=100, class="form-control", placeholder="e.g. Great work. Make sure to always include as much information as possible for each event.") }}
              </div></br>
              <a class="btn btn-default btn-success" href="/hits/{{hit.id}}/approved">Approve</a>
              <a class="btn btn-default btn-danger pull-right" href="/hits/{{hit.id}}/rejected">Reject</a>
          </form>
    {% endif %}


    {% if hit.status == 'open' %} <!--this is so that HITs can't be expired if already expired, and we don't have sync issues with Amazon -->
      </br></br>
      <a class="btn btn-default btn-warning" href="/hits/recreate/{{hit.id}}">Edit & Relist</a>
    {% endif %}
    
      </div>
<div class="col-md-1"></div>

{% endblock %}

</html>